@charset "utf-8";
@import "susy";
// reset to negate weird legend tag behavior
@import "compass/reset";


$total-columns: 1;
// use ems
$column-width: 10em;
$gutter-width: 1em;
$grid-padding: 1em;
body{
  font-family: sans-serif;
  font-size:10pt;
  background-color: #334;
}
.wrapper{
  background-color:white;
  // don't set padding here everything is done by susy
}

img{
  background-color:black;

  opacity:0.8;
  // don't hardcode image dimensions

}
legend{
  // don't hardcode legend dimensions
}

.wrapper{
  @include container;
  @include susy-grid-background;
}
img, legend{
  // on revient à la ligne pour à chaque image et légende
  @include span-columns(1 omega);
}

@include at-breakpoint(2) {
  // as soon as there is room for 2 columns
  // on affiche l'image et sa légende côte à côte, sur deux colonnes;


  .wrapper{
    @include container;
    @include susy-grid-background;
  }
  
  img{
    // @include remove-omega; ne change rien
    @include span-columns(1);
  }
  legend{
    font-size:1.1em;
    // on finit la ligne après la légende
    @include span-columns(1 omega);
  }



}

@include at-breakpoint(4) {
  // as soon as there is room for 4 columns
  @include with-grid-settings(4,15em,2em) {
    // use 4 15em columns with 2em gutters
    .wrapper{

      @include container;
      @include susy-grid-background;

    }
    img{
      @include span-columns(2);
      // half-size for images, no hardcoded dimensions
    }
    legend{
      @include span-columns(2 omega);
      // half-size for legends
      font-size:2em;
    }
  }

}