<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link href="stylesheets/all.css" rel="stylesheet" />

	<title>Viewer</title>
</head>
<body>
	<%= yield %>	
</body>
</html>
